* {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
}
.box {
  width: 964px;
  margin: 0px auto;
  height: 500px;
}
nav {
  height: 50px;
  background: pink;
  line-height: 50px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.xu {
  font-size: 20px;
  color: #b0b0b0;
}
.show {
  display: inline-block;
}
.hide {
  display: none;
}
a {
  text-decoration: none;
  color: #b0b0b0;
  position: relative;
  font-size: 20px;
}
a i {
  position: absolute;
  width: 0px;
  height: 0px;
  right: -10px;
  top: 20px;
  border-width: 4px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}
a .up {
  margin-top: -4px;
  border-bottom: 4px solid #b0b0b0;
}
a .down {
  margin-top: 8px;
  border-top: 4px solid #b0b0b0;
}
a .at {
  border-bottom: 4px solid #fff;
}
a .ab {
  border-top: 4px solid #fff;
}
.list li:nth-child(1) {
  margin-left: 0px;
}
.list li:nth-child(5) {
  margin-left: 0px;
}
.list li:nth-child(9) {
  margin-left: 0px;
}
.list {
  margin-top: 20px;
  list-style: none;
  position: relative;
}
.list li {
  padding: 10px;
  width: 205px;
  height: 310px;
  box-shadow: 0.5px 1px 5px #5f5f5f;
  margin-bottom: 10px;
  background: #fff;
  float: left;
  margin-left: 20.5px;
}
.list li img {
  width: 204px;
  height: 204px;
  opacity: 0;
  transition: 1.5s;
}
.list li p {
  width: 188px;
  margin: 0px auto;
  line-height: 25px;
  color: #5f5f5f;
}
.list li p span {
  margin-left: 14px;
}
